
<ul class="list-unstyled">
  <% @questions.each do |question| %>
    <li>
      <div>
        <h6>問題<%= question.id %></h6>
        <%= question.question %>
        <ul class="dropdown-divider"></ul>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @questions %>