<div class = 'row'>
  <div class = 'col-sm-4 mb-4'>
    <h4>モード：ランダム出題</h4>
  </div>
  <div class = 'offset-sm-4 col-sm-4'>
    <button type="button" class="btn btn-outline-warning">☆チェックをつける</button>
  </div>
</div>

<p>問題</p>

<div class = 'card mb-4'>
  <div class="card-body">
    ここに問題を表示します
  </div>
</div>

<div class = 'mb-4'>
  <p>選択肢</p>
  <button type="button" class="btn btn-outline-secondary btn-block">選択肢 1</button>
  <button type="button" class="btn btn-outline-secondary btn-block">選択肢 2</button>
  <button type="button" class="btn btn-outline-secondary btn-block">選択肢 3</button>
  <button type="button" class="btn btn-outline-secondary btn-block">選択肢 4</button>
</div>

<div>
  <button type="button" class="btn btn-secondary col-sm-2">TOPへ</button>
  <button type="button" class="btn btn-primary offset-sm-7 col-sm-2">解説へ</button>
</div>