
<container class = 'text-center'>
    <div class = 'mb-4'>
        <h4>おつかれさまでした！</h4>
    </div>
    
    <div class = 'mb-4'>
        <h3>正答率<%= @precision %>80 %</h3>
        <a href = '#'>出題問題一覧へ</a>
    </div>
    
    <div class = 'mb-4'>
        <%= link_to 'TOPへ', users_path, class: 'btn btn-secondary col-sm-4' %>
    </div>
</container>