
<container class = 'text-center'>
    <div class = 'mb-4'>
        <h4>おつかれさまでした！</h4>
    </div>
    
    <div class = 'mb-4'>
        <h3>正答率<%= @precision %> %</h3>
        <a href = '#'>出題問題一覧へ</a>
    </div>
    
    <div class = 'mb-4'>
        <button type="button" class="btn btn-secondary col-sm-2">TOPへ</button>
    </div>
</container>