<div class = 'text-center'>
  <h3>G検定問題集</h3>
  <p></p>
  <p>この問題集では、G検定合格を目指して演習を積むことが出来ます。</p>
  <p>隙間時間でどんどん解いていきましょう！</p>
</div>
<div>
  <%= link_to 'ランダム出題', new_question_setting_path, class: 'btn btn-primary btn-block' %>
  <%= link_to '問題一覧', questions_path, class: 'btn btn-secondary btn-block' %>
</div>