<div class = 'text-center'>
  <h3>G検定問題集</h3>
  <p></p>
  <p>この問題集では、G検定合格を目指して演習を積むことが出来ます。</p>
  <p>チェックマークをつけながら、効率良く学習することが出来ます。</p>
</div>
<div>
<button type="button" class="btn btn-primary btn-block">ランダム出題</button>
<button type="button" class="btn btn-danger btn-block">チェックをつけた問題</button>
<button type="button" class="btn btn-secondary btn-block">問題一覧</button>
</div>