<div class = 'mb-4'>
  <h4>▷ ランダム出題</h4>
</div>

<div class = 'row'>
  <p>出題数</p>
  
  <div class="form-group">
    <p>ここにフォームをおきます</p>
    <%= text.field :question_num, class: 'form-control' %>
  </div>
</div>
