<div class = 'row'>
  <div class = 'col-sm-4 mb-4'>
    <h4>正解！</h4>
  </div>
  <div class = 'offset-sm-4 col-sm-4'>
    <button type="button" class="btn btn-outline-warning">☆チェックをつける</button>
  </div>
</div>

<p>問題</p>
<div class = 'card mb-4'>
  <div class="card-body">
    ここに問題を表示します
  </div>
</div>

<p>解答</p>
<div class = 'card mb-4'>
  <div class="card-body">
    ここに正解の選択肢を表示します
  </div>
</div>

<p>解説</p>
<div class = 'card mb-4'>
  <div class="card-body">
    ここに解説を表示します
  </div>
</div>

<div>
  <button type="button" class="btn btn-secondary col-sm-2">TOPへ</button>
  <button type="button" class="btn btn-primary offset-sm-7 col-sm-2">次へ</button>
</div>



