<div class = 'mb-4'>
  <h4>モード：ランダム出題</h4>
</div>

<div>
  <h5>出題数</h5>
  <p>＊必ず1〜10の数字を入力してください。入力しない場合、前回の入力が使用されます</p>
  
  <div class: 'mb-4'>
    <%= form_with(url: question_settings_path, scope: :session, local: true, method: :post) do |q| %>
      <div class="form-group col-sm-4">
        <%= q.text_field :question_num, class: 'form-control' %>
      </div>
      <%= q.submit 'スタート', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>

</div>
<div>
  <%= link_to 'TOPへ', users_path, class: 'btn btn-secondary btn-block mt-4' %>
</div>


