<div class = 'mb-4'>
  <h4>モード：ランダム出題</h4>
</div>

<div class = 'row'>
  <p>出題数</p>
  
  <div class="col-sm-4 mb-4">
    <%= form_with(url: question_settings_path, scope: :session, local: true, method: :post) do |q| %>
      <div class="form-group col-sm-4">
        <%= q.text_field :question_num, class: 'form-control' %>
      </div>
      
      <%= q.submit 'スタート', class: 'btn btn-primary btn-block' %>
    <% end %>

  </div>
    <%= link_to 'TOPへ', users_path, class: 'btn btn-secondary' %>
</div>

